:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f4fd;
  color: #212121;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

img {
  display: block;
  max-width: 100%;
}

.search-form {
  max-width: 1140px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;

  margin-left: auto;
  margin-right: auto;
}

.search-button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196f3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

.search-button:hover {
  background: #0b7dda;
}

.search-input {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

.search-input::after {
  content: '';
  clear: both;
  display: table;
}

.gallery {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 20px;
}

.photo-card {
  width: 32%;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  /* flex-direction: column; */
}

.gallery__image:hover {
  transform: scale(1.03);
}

.gallery__image {
  height: 300px;
  width: 100%;
  object-fit: cover;
  transition: transform var(--animation-duration) var(--timing-function);
}

.gallery__link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.gallery__link:hover {
  cursor: zoom-in;
}

.info {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 15px;
  padding: 10px 10px;
  text-align: center;
}

.load-more {
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background: #2196f3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-radius: 10px;
  cursor: pointer;
  display: none;
}
